<?xml version="1.0" encoding="UTF-8" ?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/2.0"
		id = "com.wasabipeas.fandoms"
		versionCode = "10"
		version = "1.0.0">

	<!-- versionCode is optional and Android only -->

	<name>Fandom</name>

	<description>
	  App Fandom for Android, iOS and Windows Phone
	</description>

	<author href="http://www.wasabipeas.it" email="carlo.satta@wasabipeas.it">
	  Carlo Satta
	</author>
	<author href="http://www.wasabipeas.it" email="andrea.cara@wasabipeas.it">
	  Andrea Cara
	</author>

	<feature name="http://api.phonegap.com/1.0/device"/>

	<preference name="fullscreen" value="true" />
	<preference name="orientation" value="portrait" />
	<preference name="target-device" value="handset" />
	
	<gap:plugin name="FacebookConnect">
		<param name="APP_ID" value="115245771971417" />
	</gap:plugin>
</widget>
